[Settings]
server = irc.quakenet.org
port = 6667
nick = GradiusBot
username = GradiusBot
password =
mod_channel =
channels =
    #testgradius
owner = riotgradius

[Tribunal]
spam_message_rate = 5
spam_message_per_sec = 10
